extends layout

mixin link(path,description)
	- var href = key + '/' + path
	li
		a(href=href)= href
		span : 
		span= description

block content
	h1= title
	p Welcome!
	p= text
	p a few examples:
		ul
			+link('','help about all available methods')
			+link('selection','help about selection')
			+link('getMeta','get meta information about the root folder')
			+link('getMeta/style.css','get meta information about "style.css"')
			+link('getMetaRecursive','get meta information about the root folder and subfolders')
			+link('readFile/style.css','reads the file "style.css"')
			+link('readFile/style.css?encoding=utf8','reads the file "style.css" with utf8 encoding')
			+link('readdir/a','reads the contents of the "/a" directory')
			+link('selection/add/groupName?files=/style.css','creates "groupName" and adds "style.css" to it\'s selection')
			+link('selection/get/group?items=groupName','gets "groupName" selection info')
			+link('selection/get/file?items=/style.css','gets the parent groups of "style.css" (this is also automatically available with `getMeta`)')
			+link('selection/remove/groupName?files=/style.css','remove "style.css" from the group "groupName"')
			+link('selection/remove/groupName','deletes the group "groupName"')
			+link('selection/root?groups=a,b,c','adds the groups "a", "b", and "c" to the root group')
			+link('selection/root','retrieves all root groups')
			+link('copy/style.css:aDirectory/style.css','copies "style.css" to "aDirectory/style.css" (and creates "aDirectory" if it doesn\'t exist')
			+link('remove/aDirectory','removes the "aDirectory" directory and all contents')

